<!DOCTYPE html>
<html>
<head>
  <title>JiveWebhooks</title>
  <%= stylesheet_link_tag    "jive_webhooks/application", :media => "all" %>
  <%= javascript_include_tag "jive_webhooks/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
